.DS_Store
node_modules/
/dist/
env/
__pycache__
/server/files/*
/server/build/*
server.conf
server.pid
server.log*
status
*.pyc
.bash_history
.cache/
/server/apps/meteor.tar.gz
/server/apps/monitor.tar.gz
/meteor/version.txt
/license/dist/
/client/package-lock.json